<header class="site-header">
  <div class="wrapper">

    <nav class="site-nav">
      <a href="#" class="menu-icon"></a>
    
      <div class="menu">
        {% assign current_url = page.url | remove: '.html' %}
    
        {% for nav_page in site.header.pages %}
          {% if nav_page.slug %}
            {% assign page_link = nav_page.slug %}
          {% else %}
            {% assign page_link = "/" | append: nav_page.name | downcase %}
          {% endif %}
    
          {% assign page_link = page_link | absolute_url %}


          {% if nav_page.slug == current_url %}
            <a class="page-link page-active" href="{{ page_link }}">
              {{ nav_page.name }}
            </a>
          {% else %}
            <a class="page-link" href="{{ page_link }}">
              {{ nav_page.name }}
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>
    

  </div>
</header>
